.news__bread-crumbs {
    padding-bottom: 20px;
}

.news__arch-news-title {
    margin-top: 28px;
    margin-bottom: 25px;
}

.news__arch-news-desc {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    max-width: 500px;
    max-height: 39px;
    overflow: hidden;
}

.news__arch-news-count {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    max-width: 120px;
    max-height: 39px;
    overflow: hidden;
    border: 1px solid var(--transparent-color);
}

.news-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    list-style: none;
}

.news-list__item:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
    margin-top: 60px;
}

.news-list__item-heading {
    max-width: 280px;
    max-height: 60px;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--text-color);
    overflow: hidden;
}

.news-list__item:nth-child(3n+2) .news-list__item-heading {
    max-width: 358px;
}

.news-list__item-pic {
    z-index: 10;
}

.news-list__item-pic-wraper {
    position: relative;
}

.news-list__item-link {
    display: flex;
    flex-direction: column-reverse;
    z-index: -1;
}

.news-list__item-pic-wraper::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "перейти >";
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--akcent-red);
    padding: 16px 30px;
    background-color: var(--base-white);
    opacity: 0;
}

.news-list__item-pic-wraper::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "перейти";
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--text-color);
    padding: 16px 30px;
    opacity: 0;
}

.news-list__item:hover .news-list__item-pic-wraper::before {
    opacity: 1;
}

.news-list__item:hover .news-list__item-pic-wraper::after {
    opacity: 1;
}

.news-list__item:hover .news-list__item-heading {
    color: var(--akcent-red);
}