.news-article__bread-crumbs {
    margin-bottom: 27px;
}

.news__article-header-title {
    margin-bottom: 28px;
}

.news__article-header-heading {
    max-height: 110px;
    font-size: 16px;
    font-weight: 800;
    line-height: 170%;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    overflow: hidden;
    color: var(--text-color);
}

.news__article-header-leading {
    font-size: 18px;
    font-weight: 700;
    line-height: 170%;
    margin: 0 0 40px 0;
    padding: 5px 0;
    overflow: hidden;
    color: var(--text-color);
}


/*metas start*/

.metas {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    border-bottom: 1px solid var(--btn-stroke-color);
}

.news__article-header-meta {
    margin-bottom: 55px;
}

.metas-block {
    margin-top: 15px;
    padding-left: 48px;
    padding-right: 20px;
    background-image: url("../img/Autor.svg");
    background-position: 0 center;
    background-repeat: no-repeat;
}

.metas-block:nth-of-type(2) {
    background-image: url("../img/Clock.svg");
}

.metas-block:nth-of-type(3) {
    background-image: url("../img/Calendar.svg");
}

.metas-block__termin {
    margin-bottom: 8px;
    max-width: 350px;
    max-height: 30px;
    overflow: hidden;
    color: var(--transparent-black);
}

.metas-block__data {
    margin: 0;
    max-width: 350px;
    max-height: 30px;
    overflow: hidden;
    color: var(--akcent-red);
}


/*metas end*/

.news__article-text {
    margin-bottom: 0 0 40px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    padding: 5px 0;
    overflow: hidden;
    color: var(--text-color);
}

.news__article-illustration {
    margin: 50px 0 0;
}

.news__article-pics-img-desc {
    margin: 20px 0 0 0;
    max-width: 270px;
    color: var(--base-black);
    text-transform: uppercase;
    line-height: 170%;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 500;
}

.news__article-pics-img-address {
    margin: 0;
    max-width: 270px;
    color: var(--bg-text);
    text-transform: uppercase;
    font-style: normal;
    line-height: 170%;
    font-size: 14px;
    font-weight: 500;
}

.news__article-pics-desc {
    max-width: 950px;
    max-height: 62px;
    margin: 0 0 25px 0;
    padding: 0;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    overflow: hidden;
}

.news__article-pics-c {
    display: flex;
    justify-content: space-between;
}

.news__article-pics-wraper:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 322px;
}

.news__article-pics-wraper:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 611px;
}

.news__article-pics-img:nth-of-type(3) {
    margin-top: 20px;
}