.change-btns {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.change-btns__item {
    padding: 0;
    margin-left: 13px;
}

.change-btns__btn {
    display: block;
    width: 13px;
    height: 13px;
    padding: 0;
    border-radius: 7px;
    border: 1px solid var(--text-color);
    background-color: var(--transparent-color);
    cursor: pointer;
}

.change-btns__btn--white {
    border: 1px solid var(--base-white);
}

.change-btns__item:first-of-type {
    margin-left: 0px;
}

.change-btns__btn--black-selected {
    background-color: var(--text-color);
}

.change-btns__btn--white-selected {
    background-color: var(--base-white);
}