.main__blocks-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
    height: 300px;
    list-style: none;
    background-color: brown;
}

.main__blocks-item {
    color: white;
    text-align: center;
    background-color: darkorange;
}

.main__blocks-item:first-of-type {
    background-color: crimson;
}

.main__blocks-item:last-of-type {
    background-color: darkolivegreen;
}

.block-1 {
    flex-basis: 150px;
}

.block-2 {
    flex-basis: 300px;
    flex-grow: 2;
}

.block-3 {
    flex-basis: 45px;
    flex-grow: 4;
}